<%- partial('_partial/head') %>
<body>
<div id="world" class="drop-shadow">
    <div id="topbar"><%- partial('_partial/header') %></div>
    <div id="content"><%- body %></div>
    <div id="foot"><%- partial('_partial/footer') %></div>
</div>
    <%- partial('_partial/after_footer') %>
</body>
</html>